<h1>Help</h1>

  <div class="btn-group pull-right">
    <%= link_to ipsum_path, method: :put, class: "btn btn-default btn-xs" do %>
      <span class="glyphicon glyphicon-random"></span>
    <% end %>
	</div>
