
<div id="main-content">
  <div id="content" class="col-md-6 col-md-offset-3">
    <div class="btn-group pull-right">
      <%= link_to ipsum_path, method: :put, class: "btn btn-default btn-xs" do %>
        <span class="glyphicon glyphicon-random">Generate Ipsum</span>
      <% end %>
  	</div>
	</div>
</div>
