<div class="log-form">
<%= form_for [@post, @comment] do |f| %>
  <% if @comment.errors.any? %>
      <div class="error_messages">
        <h3>Please correct the following errors.</h3>
        <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <%= f.text_area :content, rows: 3, placeholder: "what do you think about this?" %>
    <br />
    <%= f.submit "Comment" %>

<% end %>
</div>