<div class="user-left-column">
  <%= render 'avatar' %>
  <%= render 'bio' %>
</div>
    
<div class="user-right-column">
  
  <div id="content" class="col-md-8">
    <%= render 'latest' %>
  </div>
  
</div>
