  <div class="home-side-box">
    <div id="home-title-wrapper">
      <div id="home-title">
        Get stuff done. Accomplish your goals <br />
        or help others accomplish theirs.
      </div>
      <div class="home-button" style="background: none; padding: 0;">
        <%= link_to 'Find out more', about_path %>
      </div>
    </div>
    
    <div id="home-buttons-wrapper">
      <div class="home-button" style="display: inline; margin-right: 4rem;">
        <%= link_to 'Login', new_user_session_path %>
      </div>
      <div class="home-button" style="display: inline;">
        <%= link_to 'Sign Up', new_user_registration_path %>
      </div>
    </div>
    
    <span style="margin-top: 40em; color: white; font-size: .8em;">
      Photo by <a href="https://unsplash.com/photos/b_8eErngWm4?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Karsten Würth on Unsplash</a>
    </span>
  </div>