<div class="side-box" style="margin-top: 0">
  <div class="side-content">
    
  <p>There are <%= @tag_count %> total posts in the <strong style="color: #00b8ac"> <%= request.path %></strong> Yarnn Box.</p>

  </div>
</div>