<div class="side-box" style="margin-top: 0">
  <div class="side-content">
    
  <p>There are <%= @tag_count %> total posts in this <strong>Yarnn Box</strong>.</p>
  <br />
  <%= request.url %>
      
  </div>
</div>