
  <div id="content" class="col-md-6 col-md-offset-3">
    <div class="ipsum">
      <%= @generated %>
    </div>
  </div>

  <div id="content" class="col-md-6 col-md-offset-3" style="margin-top: 1%">
    <div class="ipsum">
      <%= @generated2 %>
    </div>
  </div>
