<div class="main-content">
  <div id="posts-form">
    <h4><em><%= @post.comments.count %> Comments<a id="comment"></h4>
  </div>
  
   <% if user_signed_in? %>
      <%= render "comments/form" %><br/>
    <% else %>
      <div class="small"><em>You must be logged in to comment.</em></div>
    <% end %>
    
    <%= render "comments/comments" %>

  <% if @post.comments.count != 0 %>
  
    <%= link_to new_post_comment_path(@post), :remote => true do %>
      <a href="#comment">New Comment</a>
    <% end %>
  
  <% end %>
</div>