<div class="main-content">
  <%= render "comments/comments" %>

  <% if @post.comments.count != 0 %>
    <%= link_to new_post_comment_path(@post), :remote => true do %>
      <a href="#comment">New Comment</a>
    <% end %>
  <% end %>
</div>