<div class="main-content">

    <div class="row">
      <div class="col-sm-2">
        &nbsp;
      </div>
      <div class="col-sm-10">
        <br/>
        <% if user_signed_in? %>
          <%= render "comments/form" %><br/>
        <% else %>
          <div class="small" style="color: #fc0000;"><em><strong>You must be logged in to comment.</strong></em></div>
        <% end %>
      </div>
    </div>
    
    <%= render "comments/comments" %>

  <% if @post.comments.count != 0 %>
  
    <%= link_to new_post_comment_path(@post), :remote => true do %>
      <a href="#comment">New Comment</a>
    <% end %>
  
  <% end %>
</div>