<div class="user-left-column">
  <%= render 'posts/left' %>
</div>

<div class="user-mid-column">
  <div id="content" class="col-md-12">
    <%= render 'showpost' %>
    <%= render 'comments' %>
  </div>
</div>

<div class="user-right-column">
  <% if user_signed_in? %>
    <%= render "comments/form" %><br/>
  <% else %>
    <div class="small" style="color: #fc0000;"><em><strong>You must be logged in to comment.</strong></em></div>
  <% end %>
</div>



