/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

/* navbar */
.navbar-default {
    background-color: #00b8ac;
    border-color: #039087;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > a:visited {
    color: #ededed;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #039087;
}

.btn-primary,.btn-primary:active, .btn-primary:visited {
    background-color: #00b8ac !important;
    border-color: #039087 !important;
}

.btn-primary:hover {
		background-color: #039087 !important;
		border-color: #039087 !important;
}

a {
	color: #00b8ac;
}

a:hover {
	color: #039087;
}

.navbar-brand {
 margin-top: 0px;
 padding: 1%;
}

#main-content {
	#content {
		float: none;
	}
	padding-bottom: 100px;
	.link {
		padding: 2em 1em;
		border-bottom: 1px solid #e9e9e9;
		.title {

			a {
				color: #FF4500;
			}
		}
	}
	.comments_title {
		margin-top: 2em;
	}
	#comments {
		.comment {
			padding: 1em 0;
			border-top: 1px solid #E9E9E9;
			.lead {
				margin-bottom: 0;
			}
		}
	}
}

.post-text {
	overflow:auto;
	margin-bottom: 2%;
	padding-bottom: 2%;
	border-bottom: 1px solid #e9e9e9;
}

.comment-box {
	box-shadow: 5px 5px 3px #999;
	border-radius: 5px;
	border-top: 1px solid #e9e9e9;
	padding-top: 2%;
	padding-right: 1%;
}

.comment-text {
	overflow: auto;
	margin-bottom: 1%;
	margin-right: 2%;
	padding-bottom: 1%;
	padding-right: 2%;
}

.signature {
	color: #777777;
	font-size: 0.8em;
	padding-bottom: 1%;
}

.tags {
  display: inline-block;
  margin: 0 2px;
  white-space: nowrap;
  transition: all .15s ease-in-out;
  text-decoration: underline;
}

.notation-wrapper {
  background: #f2f2f2;
  margin: 1% 2% 1% 0;
  padding: 8px 12px;
  border-top: 1px solid #e9e9e9;
  font-size: 0.8em;
}

.notation-reply {
  font-style: italic;
  float: right;
  font-size: 0.8em;
  margin-right: 2%;
  margin-bottom: 1%;
}