/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

/* navbar */
.navbar-default {
    background-color: #c91111;
    border-bottom: 3px solid #00b8ac;
    box-shadow: 0 0 1px 0 #999;
}

.background {
	background-color: #eef2f5;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > a:visited {
    color: #ededed;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #00b8ac;
}

.btn-primary,.btn-primary:active, .btn-primary:visited {
    background-color: #00b8ac !important;
    border-color: #039087 !important;
}

.btn-red,.btn-red:active, .btn-red:visited {
    background-color: #c91111 !important;
    color: #fff !important;
}

.btn-primary:hover {
		background-color: #039087 !important;
		border-color: #039087 !important;
}

a {
	color: #00b8ac;
}

a:hover {
	color: #039087;
}

.navbar-brand {
 margin-top: 0px;
 padding: 1%;
}

#main-content {
	margin-bottom: 100px;
	#content {
		float: none;
		/*padding-top: 1%;*/
		background-color: #fff;
		border: 1px solid #d9d9d9;
	}
	.link {
		padding: 1em 1em;
		border-bottom: 1px solid #e9e9e9;
		.title {

			a {
				color: #FF4500;
			}
		}
	}
	.comments_title {
		margin-top: 2em;
	}
	#comments {
		.comment {
			padding: 1em 0;
			border-top: 1px solid #E9E9E9;
			.lead {
				margin-bottom: 0;
			}
		}
	}
}

.center {
  text-align: center;
}

#left-content {
	margin-bottom: 100px;
	#content {
		/*padding-top: 1%;*/
		background-color: #fff;
		border: 1px solid #d9d9d9;
	}
}

.main-avatar {
	display: block;
	margin: auto;
	text-align: center;
	padding-top: 6%;
}

.image {
  padding: 1%;
  border: 1px solid #e9e9e9;
  margin-bottom: 1%;
  width: 100%;
}

.audio {
  width: 100%;
}

.post-text {
	overflow: auto;
	margin-bottom: 2%;
	padding-bottom: 1%;
	overflow-wrap: break-word;
}

.ipsum {
	padding: 3%;
}

#post-icons {
  text-decoration: none;
  a, a:hover, a:visited, a:active {
  text-decoration: none;
  }
}

.post-buttons {
	overflow: auto;
	padding-bottom: 1%;
	padding-left: 16%;
}

.quick-post-box {
	padding-bottom: 2%;
	padding-top: 2%;
}

.top-pad-2 {
	padding-top: 25%;
}

.comment-box {
	padding-right: 1%;
}

.post-box {
	padding-right: 4%;
}

.comment-text {
	overflow: auto;
	margin-bottom: 1%;
	margin-right: 2%;
	padding-bottom: 1%;
	padding-right: 2%;
}

.signature {
	color: #777777;
	font-size: 0.8em;
	line-height: 2em;
	border-top: 1px solid #cbeeec;
	margin-top: 2%;
}

.bio-signature {
	color: #777777;
	font-size: 0.8em;
	line-height: 2em;
	border-top: 1px solid #cbeeec;
	padding: 6%;
}

.tags {
  display: inline-block;
  margin: 0 2px;
  white-space: nowrap;
  transition: all .15s ease-in-out;
  text-decoration: underline;
}

.notation-wrapper {
  background: #f2f2f2;
  margin: 1% 0;
  padding: 8px 12px;
  border-top: 1px solid #e9e9e9;
  font-size: 0.8em;
}

.notation-reply {
  font-style: italic;
  float: right;
  font-size: 0.8em;
  margin-right: 2%;
}

.big-right-column {
  width: 72%;
  margin-top: 0;
  float: right;
}

.user-left-column {
  width: 27%;
  margin-left: 0;
  margin-top: 0;
  float: left;
}

.user-mid-column {
  width: 44%;
  margin-right: 0;
  margin-top: 0;
  float: left;
}

.user-right-column {
  width: 27%;
  float: right;
  margin-top: 0;
}

.side-box {
  width: 87%;
  margin: 2% auto;
  background: #fff;
  border: 1px solid #d9d9d9;
  overflow: hidden;
}

.home-side-box {
	width: 45%;
	float: left;
	margin: 5px;
}

.side-content {
  margin: 15px;
  font-size: .75em;
  li {
    list-style-type: none;
    padding: 3px;
  }
}

.stat-box {
	text-align: center;
  font-size: 12px;
  margin: 1%;
  padding: 1%;
}

#home-title-wrapper {
  margin: 2em auto 2em auto;
  background: black;
  display: block;
  background: rgba(0, 0, 0, 0.55);
  padding: 50px;
  border-radius: 10px;
  h1 {
    color: white;
    line-height: 1.5;
  }
}

#home-title {
  color: white;
  font-size: 42px;
  opacity: 100%;
  font-family: 'Fjalla One', sans-serif;
}

#home-buttons-wrapper {
  margin: 0 auto;
  padding: 2em 0;
}

.home-button {
  padding: 12px 30px;
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.55);
  a {
    color: white;
  }
  &:hover {
    a {
      color: #dc0000;
    }
  }
}

#home-background {
  background: image-url('background.jpg');
  height: 100%;
  background-size: cover;
  background-position: center;
  text-align: center;
  overflow: hidden;
}