<%= form_for [@post, @comment, @notation] do |f| %>
  <% if @notation.errors.any? %>
      <div class="error_messages">
        <h3>Please correct the following errors.</h3>
        <ul>
        <% @notation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    
    <div class="form-group">
      <%= f.text_area :content, class: "form-control", rows: 2, placeholder: "what is your response?" %>
    </div>
    
    <div class="form-group">
      <%= f.submit "Reply", class: "btn btn-sm btn-primary pull-right" %>
    </div>
<% end %>