<% notations = comment.notations %>
<% notations.each do |notation| %>
  

        <div class="notation-wrapper">
            <%= notation.content %> -
              <%= link_to notation.user.username, user_path(notation.user) %> <%= time_ago_in_words(notation.created_at) %> ago
            <% if (user_signed_in? && (current_user.id == notation.user_id)) %>
              <div class="notation-reply">
                <%= link_to "delete", post_comment_notation_path(@post, comment, notation), method: :delete, data: { confirm: 'Are you sure?' } %>
              </div>
            <% end %>
        </div>


<% end %>